Estimad@ {{user.first_name}},

Hemos recibido tu solicitud para restablecer la contraseña de la cuenta "{{user.username}}" asociada a este correo. 
Para proceder con el cambio de contraseña, por favor sigue el enlace que se proporciona a continuación:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

*Si al dar click en el enlace este no funciona, copie y pegue la URL en el navegador.*

Asegúrate de completar este proceso tan pronto como sea posible.
Si no has solicitado el cambio de contraseña, comunicate a este mismo correo.


Atentamente,
Soporte Técnico - Kindly 

"Uniendo corazones, cambiando vidas"